/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {font-family: 'Open Sans', sans-serif; 
line-height: 1.65 ;
font-size: 1.2rem;
color: #392d41;
}
*{box-sizing: border-box;}
h1, h2, h3, h4 {font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #25a2c3}

img {width: 100%;}
    #logo{background-color: black;
    width: 100%;
    text-align: center;
    }
    #logo img {width: 40%;
    margin:1.5em;
;}
#title {background-image: url(../images/banner.jpg);
background-size: contain; text-align: center;}
h1 {text-align: center;
    font-size: 2em;
    font-weight: 700;
    line-height: 1 ;
padding: 2em;
padding-bottom: 0.5em;}
#title p {text-align: center;
padding: 0em 1em 0em 1em;}

header button {
    background-color: #f04c2f;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
    min-height: 50px; 
    min-width: 150px;
}
#section-one{margin-top: 2em;}
#sesection-one article:first-child {margin-top: 1em; margin-bottom: 1em;}
#section-one h3 {text-align: center;
    font-size: 1em;
    font-weight: 700;
    line-height: 1 ;
padding-bottom: 1em;}

#section-one p {text-align: center;
    padding: 0em 1em 0em 1em}
    #section-one article{padding-top: 1em; padding-bottom: 1em;}
 #img-1 {border-radius: 100%;padding: 2em;
}

#orange-card {
    background-color: #f04c2f;
    text-align: center;}
    #orange-card>h2 {font-weight: 700; font-size: 1.2em;color: white;
    padding-top: 1em;padding-bottom: 1em}
    
    
    #orange-card>div {padding-bottom: 2em;}
    #orange-card p {color: white; font-size: 0.7em;}
    #orange-card #CEO {font-size: 1em;}
    #orange-card .cit {color: white;
    font-style: italic;font-size: 1em;
line-height: 1;
padding-bottom: 1em;}
#section-two{text-align: center;}
#card-one {
    width: 80%;
    display: inline-block;
    text-align: center;
    margin: 2em;
 border-color: #dee1e39e;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 0.3rem;}
#card-one h4 {
    text-align: center;   
    padding-top: 1em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1 ;
padding-bottom: 1em;}
#card-one p {text-align: center;
    padding: 0em 1em 2em 1em}

    #card-two {width: 80%;
        display: inline-block;
        text-align: center;
        margin: 2em;
     border-color: #dee1e39e;
     border-radius: 20px;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-radius: 0.3rem;}
#card-two h4 {text-align: center;
    padding-top: 1em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1 ;
padding-bottom: 1em;}
#card-two p {text-align: center;
    padding: 0em 1em 2em 1em}

    #card-three {width: 80%;
        display: inline-block;
        text-align: center;
        margin: 2em;
     border-color: #dee1e39e;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-radius: 0.3rem;}
#card-three h4 {text-align: center;
    padding-top: 1em;
    font-size: 1em;
    font-weight: 700;
    line-height: 1 ;
padding-bottom: 1em;}
#card-three p {text-align: center;
    padding: 0em 1em 2em 1em}

    footer{background-color: #25a2c3;
    text-align: center; color: #c8e7f0; font-size: 0.pem;}
footer a{color: #c8e7f0;}
    #footer-title{color: white;
    text-align: center;
font-weight: bold;
padding: 1em 1em 1em 1em;
font-size: 2em;}
footer span {display: inline-block;
    width: 60%;
     border-bottom: white solid 0.1em;}
  footer #footer-last-p {padding-bottom:2em;}
